.scroll-container {
  /* height: 2000px; */
  position: absolute;
  top: 10%;
  left: 0%;
  bottom: 10%;
  z-index: 0;
  right: 0%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.progress-bar {
  box-shadow: 0px 0px 12px rgb(79, 243, 107);
  z-index: 2;
  width: 4px;
}

@media (max-width: 600px) {
  .scroll-container {
    justify-content: flex-start;
    padding: 0 0 0 10.5%;
  }
}

@media(max-width : 600px){
  .scroll-container{
    top : 16%
  }
}